@* TreeViewNode.razor *@
@using System.IO
@using MicroserviceAnalyzer.BL.Models
@using MicroserviceAnalyzer.Entities
@inject IJSRuntime JsRuntime


<div class="tree-node" oncontextmenu="@HandleContextMenu" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation
@ondblclick="@(async()=>{await LoadTextAsync();})" @ondblclick:stopPropagation>    
    
    <div class="node-content @(Node.IsSelected ? "selected" : "")" 
         style="padding-left: @(Level * 20)px">
        
        <span class="node-icon me-2" @onclick="@(() => ToggleNode(Node))"
              @onclick:preventDefault="Node.IsDirectory">
            @Node.Icon
        </span>
        
        @if (Node.IsEditing)
        {
            <input @ref="editInputRef" 
                   class="form-control form-control-sm d-inline-block w-auto"
                   @bind="Node.Name"
                   @bind:event="oninput"
                   @onkeyup="@(e => OnEditKeyUp(e, Node))"
                   @onblur="@(() => FinishEditing(Node, false))" />
        }
        else
        {
            <span class="node-name"
                  @onclick="@(() => ToggleNode(Node))">
                @Node.Name
            </span>
        }
        
        
    </div>
    
    @if (Node.IsDirectory && Node.IsExpanded && Node.Children?.Count > 0)
    {
        <div class="node-children">
            @foreach (var child in Node.Children.OrderBy(c => c.IsDirectory ? 0 : 1).ThenBy(c => c.Name))
            {
                <TreeViewNode Node="child" Level="@(Level + 1)" Tree="Tree" ShowContextMenu="@ShowContextMenu"
                SetContextMenuPos="@SetContextMenuPos" AddAlterOperationScript="@AddAlterOperationScript"
                OnTextLoaded="@OnTextLoaded"/>
            }
        </div>
    }
</div>

@code {
    [Parameter] public FileSystem.TreeNode Node { get; set; } = null!;
    [Parameter] public int Level { get; set; }
    [Parameter] public FileSystem Tree { get; set; } = null!;
    [Parameter] public EventCallback<FileSystem.TreeNode> ShowContextMenu {get;set;}
    [Parameter] public EventCallback<MouseEventArgs> SetContextMenuPos {get;set;}
    [Parameter] public EventCallback<string> AddAlterOperationScript {get;set;}
    [Parameter] public EventCallback<FileTextData> OnTextLoaded { get; set; }

    private ElementReference editInputRef;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Node.IsEditing)
        {
            await editInputRef.FocusAsync();
            //await JSRuntime.InvokeVoidAsync("selectInputText", editInputRef);
        }
    }
    
    private async Task LoadTextAsync()
    {
        if (OnTextLoaded.HasDelegate && !Node.IsDirectory)
        {
            var fileTextData = new FileTextData()
            {
                FileName=Node.Name,
                Text = File.Exists(Node.FullPath) ? await File.ReadAllTextAsync(Node.FullPath) : string.Empty,
                FileRelativeToMicroservicePath = Path.Combine(Node.FullPath.Split(Path.DirectorySeparatorChar)[4..])
            };
            await OnTextLoaded.InvokeAsync(fileTextData);
        }
    }
    
    private void ToggleNode(FileSystem.TreeNode node)
    {
        if (node.IsDirectory)
        {
            node.IsExpanded = !node.IsExpanded;
        }
    }        
    
    private void OnEditKeyUp(KeyboardEventArgs e, FileSystem.TreeNode node)
    {
        switch (e.Key)
        {
            case "Enter":
                FinishEditing(node, true);
                break;
            case "Escape":
                FinishEditing(node, false);
                break;
        }
    }
    
    private void FinishEditing(FileSystem.TreeNode node, bool save)
    {
        if (save && editInputRef.Context != null)
        {
            Tree.RenameNode(node, Node.Name);
            if(AddAlterOperationScript.HasDelegate)
            {
                AddAlterOperationScript.InvokeAsync(Path.Combine(Node.FullPath.Split(Path.DirectorySeparatorChar)[4..]));
            }
        }
        
        node.IsEditing = false;
    }         
    
    private void HandleContextMenu(MouseEventArgs e)
    {
        if(ShowContextMenu.HasDelegate)
        {
            ShowContextMenu.InvokeAsync(Node);
        }
        if(SetContextMenuPos.HasDelegate)
        {            
            SetContextMenuPos.InvokeAsync(e);
        }
    }
}